
/*=== Footer area start===*/
.footer-area {
    background: #363636;
    padding-top: 8rem;
    padding-bottom: 5rem;
    .footer-wrap {
      margin-top: -3rem;
      p {
        margin-top: 2rem;
      }
      .social-links {
        margin-top: 2.5rem;
      }
    }
    .footer-widget {
      p {
        color: #FFF;
      }
      h3 {
        font-size: 2rem;
        font-weight: 700;
        font-family: var(--primary-font);
        text-transform: uppercase;
        color: var(--white);
        margin-bottom: 1.5rem;
      }
  
      ul.information-items {
        li.list-item {
          a {
            color: var(--white);
            font-size: 1.6rem;
            font-weight: 400;
            transition: all 0.3s ease-in-out;
            font-family: var(--secondary-font);
            &:hover {
              color: #D8AE19;
  
            }
          }
        }
      }
  
      .single_info {
        margin-bottom: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: start;
        i::before {
          font-size: 1.8rem;
          color: #D8AE19;
          margin-right: 1rem;
        }
        p {
          
          a {
            color: var(--white);
          }
        }
      }
  
      .input-group {
        margin-top: 3rem;
        input.form-control {
          box-shadow: none;
          outline: none;
          border: 1px solid #27272B;
        }
        button.subscribe-btn {
            box-shadow: none;
            outline: none;
            border: 1px solid #27272B;
            background-color: #27272B;
            color: #D8AE19;
            padding: 1rem 1.5rem;
            transition: all 0.3s ease-in-out;
            &:hover {
              color: #6DA852;
            }
        }
      }
    }
  }
  /*=== Footer area End ===*/
  
  .copy-right {
    padding: 0.5rem 0;
    background: #D8AE19;
  }
  